@use './variables.scss';
@use './navigation.scss';
@use './step1.scss';
@use './step2.scss';
@use './step3.scss';
@use './step4.scss';
@use './step5.scss';
@use './misc.scss';

.html, body {
    font-size: 16px;
    font-family: 'Ubuntu Regular';
}

.wrapper {
    display: flex;
}