@use './variables.scss';
@use './navigation.scss';
@use './step1.scss';
@use './step2.scss';
@use './step3.scss';
@use './step4.scss';
@use './step5.scss';
@use './misc.scss';

.html, body {
    font-size: 16px;
    font-family: 'Ubuntu Regular';
}

.wrapper {
    display: flex;
}

// step1.scss:

.form-step1--disabled {
    display:none
}

.form-step1 {
    &__message {
        margin-bottom: 3rem;
    }

    &__header {
        font-family: 'Ubuntu Bold';
        margin-bottom: 0.5rem;
    }

    &__subheader {
        margin-top: 0rem;
        color: hsl(231, 11%, 63%); // $cool-gray
    }
}

%step1-input-header {
    font-family: 'Ubuntu Medium';
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}

%step1-input-field {
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid hsl(229, 24%, 87%); // $light-gray
    width: 95%;
}

.form-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

.email-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

.phone-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

// step2.scss: