@use './variables.scss';
@use './navigation.scss';
@use './step1.scss';
@use './step2.scss';
@use './step3.scss';
@use './step4.scss';
@use './step5.scss';
@use './misc.scss';

.html, body {
    
    font-size: 16px;
    font-family: 'Ubuntu Regular';

    // temp
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(231, 100%, 99%); // $alabaster
}

.wrapper {

    // temp
    margin: 0rem 1rem 4rem 1rem;
    padding: 1.5rem 0rem;
    border-radius: 14px;
    width: 968px;
    display: flex;
    justify-content: center;
    background-color:  hsl(0,0%, 100%); // $white
}

// variables.scss:

%form-wrapper {
    width: 80%;
}

%message {
    margin-bottom: 10%;
    height: 10%;
}

%header {
    font-family: 'Ubuntu Bold';
    margin-bottom: 0.5rem;
    color: hsl(213, 96%, 18%); // $marine-blue
}

%subheader {
    margin-top: 0rem;
    color: hsl(231, 11%, 63%); // $cool-gray
}

%body {
    height: 70%;
}

%buttons-wrapper {
    width: 100%;
    height: 10%;
    display: inline-block;
}

%back-button {
    display: inline-block;
    padding-top: 0.9rem;
    font-size: 0.9rem;
    font-family: 'Ubuntu Medium';
    color: hsl(231, 11%, 63%); // $cool-gray
    transition: .3s;
}

%next-button {
    float: inline-end;
    padding: 0.9rem 1.4rem;
    border-radius: 7px;
    border: 0px;
    background-color: hsl(213, 96%, 18%); // $marine-blue
    color: hsl(0, 0%, 100%); // $white
    font-family: 'Ubuntu Medium';
    width: 7rem;
    transition: .3s;
}

// navigation.scss:

.steps-wrapper {
    width: 30%;
    max-width: 274px;
    max-height: 568px;
    background-color: hsl(243, 100%, 62%); // $purplish-blue
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-position: bottom;
    border-radius: 8px;
}

.steps-navigation {
    margin: 1.5rem;
}

.form {
    // temp
    width: 70%;
    height: 80%;
    height: 454px;
    max-width: 600px;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

%steps-navigation-styles {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.steps-navigation__step1 {
    @extend %steps-navigation-styles;
}
.steps-navigation__step2 {
    @extend %steps-navigation-styles;
}
.steps-navigation__step3 {
    @extend %steps-navigation-styles;
}
.steps-navigation__step4 {
    @extend %steps-navigation-styles;
}

%nav-num-styles {
    background-color: hsl(206, 94%, 87%); // $light-blue
    display: inline-block;
    width: 2rem;
    height: 1rem;
    padding-top: 0.45rem;
    padding-bottom: 0.55rem;
    text-align: center;
    border: 1px solid hsl(206, 94%, 87%); // $light-blue
    border-radius: 50%;
    font-size: 0.9rem;
    font-family: 'Ubuntu Medium';
}

.nav-step1-num {
    @extend %nav-num-styles;
}
.nav-step2-num {
    @extend %nav-num-styles;
}
.nav-step3-num {
    @extend %nav-num-styles;
}
.nav-step4-num {
    @extend %nav-num-styles;
}


%nav-text-styles {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}
%nav-header-styles {
    color: hsl(231, 11%, 63%); // $cool-gray
}
%nav-desc-styles {
    color: hsl(231, 100%, 99%); // $alabaster
    font-family: "Ubuntu Bold";
}

.nav-step1-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles;
    }
    &__desc {
        @extend %nav-desc-styles;
    }
}
.nav-step2-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles;
    }
    &__desc {
        @extend %nav-desc-styles;
    }
}
.nav-step3-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles;
    }
    &__desc {
        @extend %nav-desc-styles;
    }
}
.nav-step4-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles;
    }
    &__desc {
        @extend %nav-desc-styles;
    }
}

// step1.scss:

.form-step1--disabled {
    display:none
}

.form-step1 {

    @extend %form-wrapper;

    &__message {
        @extend %message;
    }

    &__header {
        @extend %header;
    }

    &__subheader {
        @extend %subheader;
    }

    &__body {
        @extend %body;
    }
}

%step1-input-header {
    color: hsl(213, 96%, 18%); // $marine-blue
    font-size: 0.9rem;
    margin-left: 0.2rem;
    display: inline;
}

%step1-input-field {
    margin-top: 0.3rem;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid hsl(229, 24%, 87%); // $light-gray
    width: 95%;
    color: hsl(213, 96%, 18%); // $marine-blue

    font-family: 'Ubuntu Medium';
}

.form-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

.email-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

.phone-input {
    &__header {
        @extend %step1-input-header
    }

    &__input {
        @extend %step1-input-field
    }
    
    margin-bottom: 1.5rem;
}

.form-step1__buttons {
    @extend %buttons-wrapper;
}

.form-step1__next-button {
    @extend %next-button;
    &:hover {
        cursor: pointer;
        background-color: hsl(243, 100%, 62%); // $purplish-blue
        transition: .3s;
    }
}


// step2.scss:

.form-step2 {

    @extend %form-wrapper;
    
    &__message {
        @extend %message;
    }

    &__header {
        @extend %header;
    }

    &__subheader {
        @extend %subheader;
    }

    &__body {
        @extend %body;
    }
}

.plan-option {
    display: inline-block;
}

%option-styles {
    display: inline-block;
    border: 1px solid hsl(229, 24%, 87%); // $light-gray
    border-radius: 8px;
    padding: 1rem 2rem 1rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 6rem; // temp
}

%option-styles-text {
    margin-top: 3rem;
}

%option-styles-title {
    font-family: 'Ubuntu Medium';
    color: hsl(213, 96%, 18%); // $marine-blue
}

%option-styles-price {
    margin: 0.3rem 0rem;
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%); // $cool-gray
}

%option-styles-free {
    font-size: 0.8rem;
    color: hsl(213, 96%, 18%); // $marine-blue
}

%option-styles-free-disabled {
    display: none;
}

%option-active {
    background-color: hsl(217, 100%, 97%); //  $magnolia
    border: 1px solid hsl(213, 96%, 18%); // $marine-blue
}

.arcade-option {
    @extend %option-styles;

    &__text {
        @extend %option-styles-text;
    }

    &__title {
        @extend %option-styles-title;
    }

    &__price {
        @extend %option-styles-price;
    }

    &__free {
        @extend %option-styles-free;
    }

    &__free--disabled {
        @extend %option-styles-free-disabled;
    }

    &--active {
        @extend %option-active;
    }
}

.advanced-option {
    @extend %option-styles;

    &__text {
        @extend %option-styles-text;
    }

    &__title {
        @extend %option-styles-title;
    }

    &__price {
        @extend %option-styles-price;
    }

    &__free {
        @extend %option-styles-free;
    }

    &__free--disabled {
        @extend %option-styles-free-disabled;
    }

    &--active {
        @extend %option-active;
    }
}

.pro-option {
    @extend %option-styles;

    &__text {
        @extend %option-styles-text;
    }

    &__title {
        @extend %option-styles-title;
    }

    &__price {
        @extend %option-styles-price;
    }

    &__free {
        @extend %option-styles-free;
    }

    &__free--disabled {
        @extend %option-styles-free-disabled;
    }

    &--active {
        @extend %option-active;
    }
}

.form-step2__buttons {
    @extend %buttons-wrapper;
}

.form-step2__back-button {
    @extend %back-button;
    &:hover {
        cursor: pointer;
        color: hsl(213, 96%, 18%); // $marine-blue
        transition: .3s;
    }
}

.form-step2__next-button {
    @extend %next-button;
    &:hover {
        cursor: pointer;
        background-color: hsl(243, 100%, 62%); // $purplish-blue
        transition: .3s;
    }
    &--disabled {
        background-color: hsl(231, 11%, 63%); // $cool-gray
    }
}

%billing-option {
    color: hsl(231, 11%, 63%); // $cool-gray
}

%billing-option-active {
    color: hsl(213, 96%, 18%); // $marine-blue
}

.billing-options {
    margin: 2rem 0rem 0rem 0rem;
    padding: 1rem;
    background-color: hsl(217, 100%, 97%); // $magnolia
    border-radius: 8px;
    font-size: 0.9rem;
    font-family: 'Ubuntu Bold';
    text-align: center;

    &__monthly {
        @extend %billing-option;
        &--active {
            @extend %billing-option-active;
        }
    }

    &__yearly {
        @extend %billing-option;
        &--active {
            @extend %billing-option-active;
    }
    }
}
 
.billing-switch {
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 1.2rem;

    & input { 
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsl(213, 96%, 18%); // $marine-blue
        -webkit-transition: .4s;
        transition: .4s;
    
        border-radius: 34px;
    }

    &__slider:before {
        position: absolute;
        content: "";
        height: 0.7rem;
        width: 0.7rem;
        left: 0.25rem;
        bottom: 0.25rem;
        background-color: white; // $white
        -webkit-transition: .4s;
        transition: .4s;
    
        border-radius: 50%;
    }
} 
  
input:checked + .billing-switch__slider {
    background-color: hsl(213, 96%, 18%); // $marine-blue
}
  
input:checked + .billing-switch__slider:before {
    -webkit-transform: translateX(1.15rem);
    -ms-transform: translateX(1.15rem);
    transform: translateX(1.15rem);
}

// step3.scss:

.form-step3 {

    @extend %form-wrapper;

    &__message {
        @extend %message;
    }

    &__header {
        @extend %header;
    }

    &__subheader {
        @extend %subheader;
    }

    &__body {
        @extend %body;
    }
}

%add-option {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid hsl(229, 24%, 87%); // $light-gray
    display: flex;
    align-items: center;
    min-width: 400px; // Temporary
}

%add-option--enabled {
    background-color: hsl(217, 100%, 97%); //  $magnolia
    border: 1px solid hsl(213, 96%, 18%); // $marine-blue
}

%add-option__checkbox-container {
    width: 15%;
}

%add-option__checkbox {
    border-radius: 5px;
    border: 1px solid hsl(229, 24%, 87%); // $light-gray
    display: inline-block;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

%add-option__checkbox--enabled {
    background-color: hsl(243, 100%, 62%); // $purplish-blue
    border: none;
}

%add-option__checkbox-img {
    padding-left: 4px;
}

%add-option__text {
    display: inline-block;
    width: 70%;
}

%add-option__text-title {
    font-family: 'Ubuntu Medium';
    color: hsl(213, 96%, 18%); // $marine-blue
}

%add-option__text-description {
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%); // $cool-gray
    margin-top: 0.2rem;
}

%add-option__price {
    display: inline-block;
    width: 15%;
    font-size: 0.9rem;
    color: hsl(243, 100%, 62%); // $purplish-blue
}

.add-online {
    @extend %add-option;

    &--enabled {
        @extend %add-option--enabled;
    }
    &__checkbox-container {
        @extend %add-option__checkbox-container;
    }
    &__checkbox {
        @extend %add-option__checkbox;
    }
    &__checkbox--enabled {
        @extend %add-option__checkbox--enabled;
    }
    &__checkbox-img {
        @extend %add-option__checkbox-img;
    }
    &__text {
        @extend %add-option__text;
    }
    &__text-title {
        @extend %add-option__text-title;
    }
    &__text-description {
        @extend %add-option__text-description;
    }
    &__price {
        @extend %add-option__price;
    }
}

.add-storage {
    @extend %add-option;

    &--enabled {
        @extend %add-option--enabled;
    }
    &__checkbox-container {
        @extend %add-option__checkbox-container 
    }
    &__checkbox {
        @extend %add-option__checkbox;
    }
    &__checkbox--enabled {
        @extend %add-option__checkbox--enabled;
    }
    &__checkbox-img {
        @extend %add-option__checkbox-img;
    }
    &__text {
        @extend %add-option__text;
    }
    &__text-title {
        @extend %add-option__text-title;
    }
    &__text-description {
        @extend %add-option__text-description;
    }
    &__price {
        @extend %add-option__price;
    }
}

.add-custom {
    @extend %add-option;

    &--enabled {
        @extend %add-option--enabled;
    }
    &__checkbox-container {
        @extend %add-option__checkbox-container 
    }
    &__checkbox {
        @extend %add-option__checkbox;
    }
    &__checkbox--enabled {
        @extend %add-option__checkbox--enabled;
    }
    &__checkbox-img {
        @extend %add-option__checkbox-img;
    }
    &__text {
        @extend %add-option__text;
    }
    &__text-title {
        @extend %add-option__text-title;
    }
    &__text-description {
        @extend %add-option__text-description;
    }
    &__price {
        @extend %add-option__price;
    }
}

.form-step3__buttons {
    @extend %buttons-wrapper;

    &__checkbox {
        @extend %add-option__checkbox;
    }
    &__checkbox-img {
        @extend %add-option__checkbox-img;
    }
    &__text {
        @extend %add-option__text;
    }
    &__text-title {
        @extend %add-option__text-title;
    }
    &__text-decription {
        @extend %add-option__text-description;
    }
    &__price {
        @extend %add-option__price;
    }
}

.form-step3__back-button {
    @extend %back-button;
    &:hover {
        cursor: pointer;
        color: hsl(213, 96%, 18%); // $marine-blue
        transition: .3s;
    }
}

.form-step3__next-button {
    @extend %next-button;
    &:hover {
        cursor: pointer;
        background-color: hsl(243, 100%, 62%); // $purplish-blue
        transition: .3s;
    }
}



// step4.scss:

.form-step4 {

    @extend %form-wrapper;
    
    &__message {
        @extend %message;
    }

    &__header {
        @extend %header;
    }

    &__subheader {
        @extend %subheader;
    }

    &__body {
        @extend %body;
    }
}

.form-step4__summary {
    background-color: hsl(217, 100%, 97%); // $magnolia
    border-radius: 10px;
    padding: 1.5rem;
}

.summary-plan {
    display: flex;
    align-items: center;
    min-width: 400px; // Temporary

    &__info {
        width: 85%;
    }

    &__title {
        color: hsl(213, 96%, 18%); // $marine-blue
        font-family: 'Ubuntu Bold';
    }
    &__change {
        cursor: pointer;
        font-size: 0.9rem;
        color: hsl(231, 11%, 63%); // $cool-gray
        font-family: 'Ubuntu Medium';
        text-decoration: underline 2px hsl(231, 11%, 63%); // $cool-gray
    }

    &__price {
        width: 15%;
        color: hsl(213, 96%, 18%); // $marine-blue
        font-family: 'Ubuntu Bold';
    }
}

.summary-hr {
    margin-top: 1.5rem;
    border: 1px solid hsl(229, 24%, 87%);
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.summary-hr--disabled {
    display: none;
}

%summary-misc-default {
    margin-top: 1rem;
    display: flex;
}

%summary-misc-title {
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%); // $cool-gray
    font-family: 'Ubuntu Medium';
    width: 85%;
}


%summary-misc-price {
    color: hsl(213, 96%, 18%); // $marine-blue
    font-size: 0.9rem;
    width: 15%;
}

%summary-disabled {
    display: none;
}

.summary-misc {

    &__online {
        @extend %summary-misc-default;
    }
    &__online-title {
        @extend %summary-misc-title;
    }
    &__online-price {
        @extend %summary-misc-price;
    }
    &__online--disabled {
        @extend %summary-disabled ;
    }

    &__storage {
        @extend %summary-misc-default;
    }
    &__storage-title {
        @extend %summary-misc-title;
    }
    &__storage-price {
        @extend %summary-misc-price;
    }
    &__storage--disabled {
        @extend %summary-disabled ;
    }

    &__custom {
        @extend %summary-misc-default;
    }
    &__custom-title {
        @extend %summary-misc-title;
    }
    &__custom-price {
        @extend %summary-misc-price;
    }
    &__custom--disabled {
        @extend %summary-disabled;
    }
}

.total-cost {
    display: flex;
    margin: 2rem 0.5rem 2rem 1.5rem;

    &__title {
        font-size: 0.9rem;
        color: hsl(231, 11%, 63%); // $cool-gray
        font-family: 'Ubuntu Medium';
        width: 75%;
    }

    &__price {
        font-family: 'Ubuntu Bold';
        font-size: 1.1rem;
        color: hsl(243, 100%, 62%); // $purplish-blue
    }
}

.form-step4__buttons {
    @extend %buttons-wrapper;
}

.form-step4__back-button {
    @extend %back-button;
    &:hover {
        cursor: pointer;
        color: hsl(213, 96%, 18%); // $marine-blue
        transition: .3s;
    }
}

.form-step4__next-button {
    @extend %next-button;
    &:hover {
        cursor: pointer;
        background-color: hsl(243, 100%, 62%); // $purplish-blue
        transition: .3s;
    }
}

// step5.scss:

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem; // Temporary

    &__image {
        width: 5rem;
        margin-bottom: 0.5rem;
    }

    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
    }

    &__header {
        color: hsl(213, 96%, 18%); // $marine-blue
        font-family: 'Ubuntu Medium';
        margin-bottom: 0rem;
    }

    &__subheader {
        font-size: 0.9rem;
        color: hsl(231, 11%, 63%); // $cool-gray
        font-family: 'Ubuntu Medium';
        text-align: center;
    }
}


.em { // Message text
    color: red;
    float: inline-end;
    text-align: end;
    font-family: 'Ubuntu Medium';
    font-size: 0.8rem;
}

.vm { // Input field when valid
    color: purple;
}

.test {  // Input field when invalid
    border: 1px solid hsl(354, 84%, 57%); // $strawberry-red
}