@use './variables.scss' as *;

.steps-navigation {
    width: 20%;
    padding: 1rem;
    background-color: $purplish-blue;
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-position: bottom;
    border-radius: 8px;
}

.form {
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

%steps-navigation-styles {
    padding: 0.5rem;
}

.steps-navigation__step1 {
    @extend %steps-navigation-styles
}
.steps-navigation__step2 {
    @extend %steps-navigation-styles
}
.steps-navigation__step3 {
    @extend %steps-navigation-styles
}
.steps-navigation__step4 {
    @extend %steps-navigation-styles
}

%nav-num-styles {
    background-color: $light-blue;
    display: inline-block;
    width: 2rem;
    height: 1rem;
    padding-top: 0.45rem;
    padding-bottom: 0.55rem;
    text-align: center;
    border: 1px solid $light-blue;
    border-radius: 50%;
    font-size: 0.9rem;
    font-family: 'Ubuntu Medium';
}

.nav-step1-num {
    @extend %nav-num-styles
}
.nav-step2-num {
    @extend %nav-num-styles
}
.nav-step3-num {
    @extend %nav-num-styles
}
.nav-step4-num {
    @extend %nav-num-styles
}


%nav-text-styles {
    display: inline-block;
    vertical-align: top;
    margin-left: 0.8rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}
%nav-header-styles {
    color: $cool-gray;
}
%nav-desc-styles {
    color: $alabaster;
    font-family: "Ubuntu Bold";
}

.nav-step1-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles
    }
    &__desc {
        @extend %nav-desc-styles
    }
}
.nav-step2-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles
    }
    &__desc {
        @extend %nav-desc-styles
    }
}
.nav-step3-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles
    }
    &__desc {
        @extend %nav-desc-styles
    }
}
.nav-step4-text {
    @extend %nav-text-styles;
    &__header {
        @extend %nav-header-styles
    }
    &__desc {
        @extend %nav-desc-styles
    }
}