.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.form-step1--disabled {
    display:none
}
.form-step2--disabled {
    display:none
}
.form-step3--disabled {
    display:none
}
.form-step4--disabled {
    display:none
}
.form-step35-disabled {
    display:none
}