@font-face {
    font-family: 'Ubuntu Bold';
    src: url('app/fonts/Ubuntu-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('app/fonts/Ubuntu-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('app/fonts/Ubuntu-Regular.ttf') format('ttf');
}

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94, 87%);
$strawberry-red: hsl(354, 84%, 57%);

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0,0%, 100%);

.html {
    font-size: 16px;
}

.wrapper {
    display: flex;
}

.steps-navigation {
    width: 20%;
    padding: 1rem;
}

.form {
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.form-step1--disabled {
    display:none
}
.form-step2--disabled {
    display:none
}
.form-step3--disabled {
    display:none
}
.form-step4--disabled {
    display:none
}
.form-step5--disabled {
    display:none
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}